################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CineBuzzAPI/.vs/CineBuzzAPI
/CineBuzzAPI/obj
/CineBuzzTests/bin/Debug/net8.0
